<div id="wrapper">
    <br><br><br>
    <div id="head">
        <span class="name">SCERT,UP </span>
        <span class="title">Epothi</span>
    </div>


    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">

            </div>
            <mat-card-title>TextBook English</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">

            </div>
            <mat-card-title>TextBook Hindi</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">

            </div>
            <mat-card-title>TextBook Urdu</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">

            </div>
            <mat-card-title>Teacher Traning Matrial</mat-card-title>
        </mat-card-header>
    </mat-card>

    <div id="footer">
        <p>Developed By</p>
        <b>Macreel Infosoft Pvt.Ltd</b>
    </div>
</div>