<div id="wrapper">
    <mat-toolbar id="head"> <mat-icon routerLink="/">arrow_back_ios</mat-icon> <span>اردو</span>
        <span></span></mat-toolbar>
    <mat-toolbar style="background-color: #ebbd81; justify-content: center;">
        Classes
    </mat-toolbar>
    <div id="card_box">
        <mat-toolbar id="card" (click)="onBook(1)">
            <span> 1 کلاس </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(2)" style="background: linear-gradient(#bbb459,#ffa895);">
            <span> 2 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(3)" style="background: linear-gradient(#66d4d4,#c2bb5a);">
            <span> 3 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(4)" style="background: linear-gradient(#d4a166,#f1709b);">
            <span>4 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(5)" style="background: linear-gradient(#5277dd,#5ac289);">
            <span> 5 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(6)" style="background: linear-gradient(#d4a466,#af5a0a);">
            <span> 6 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(7)" style="background: linear-gradient(#475ee0,#be4313);">
            <span> 7 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>

        <mat-toolbar id="card" (click)="onBook(8)" style="background: linear-gradient(#e9e062,#f0824f);">
            <span> 8 کلاس  </span> <img src="../../../assets/nextarrow.png">
        </mat-toolbar>
        <br/>
        <br/>


    </div>



</div>