<div id="wrapper">
    <mat-toolbar id="head">
        <mat-icon routerLink="/hindi/hindiBook">arrow_back_ios</mat-icon> <span>कक्षा </span>
        <span></span></mat-toolbar>

            
    <pdf-viewer [src]="baseUrl+file_name" [render-text]="true" [original-size]="false"
        style="width: 100%; height: 100%"></pdf-viewer>

        <!-- <object data="https://turningbrain.in/गिनतारा-4.pdf" type="application/pdf" width="100%" height="100%">
            <p>It appears you don't have a PDF plugin for this browser. You can <a href="https://turningbrain.in/गिनतारा-4.pdf">click here to download the PDF file.</a></p>
          </object> -->

<!-- 
    <iframe width="300px" height="600px" [src]="pdfFile" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe> -->

<!-- 
    <iframe width="300px" height="600px" src="https://turningbrain.in/गिनतारा-4.pdf" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>

    
</iframe> -->



</div>